body {
  padding: 50px;
  font: 14px "Lucida Grande", Helvetica, Arial, sans-serif;

  /* background: linear-gradient(
    90deg,
    rgb(32, 38, 57) 11.4%,
    rgb(63, 76, 119) 70.2%
  ); */
  color: white;
}

a {
  color: #00b7ff;
}

.list {
  padding: auto;
}

.index-page {
  text-align: center;
  margin: 30px;
}
